.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-img{
  background-image: url("images/header-img.jpg");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}
.header-left{
  padding-left:50%;
}
.header3-left{
  padding-left:10%;
}
.table-center{
  padding: 0% 7% 0% 7%;
}
.footer-style1{
  background-color: #3f414d;
  border-color: #3f414d;
}
.white-text{
  color: white;
}
.footer-input {
  line-height: 33px;
  border: none;
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  width: 100%;
  outline: none;
  padding-left: 5px;
}
.footer-style2{
background-color: #8c8d94;
}
.footer-style3{
  background-color: #fc2779;
}
.table {
  margin-bottom: 0rem !important;
}
